# Telegram API (required)
API_ID=25733173
API_HASH=09ca430a1b8400d299941cb0f9835fa2
BOT_TOKEN=8408945936:AAH1V_RXnaAySm2A3NBzJAFxilHA3lAjwv8

# MongoDB (required)
MONGO_URI=mongodb+srv://nimsara:nimsara@cluster0.ag5ovt5.mongodb.net/?appName=Cluster0
DATABASE_NAME=telegram_media_bot

# Admins (your Telegram numeric user ID)
ADMINS=7029204818

# Groups where users are allowed to search
# Example: -1001111111111,-1002222222222
USER_GROUP_IDS=-1003904486551

# Movie upload source channels
MOVIE_SOURCE_CHANNELS=-1003861083412

# TV series upload source channels
SERIES_SOURCE_CHANNELS=-1003995128973

# Optional: pretty series info card channel
SERIES_INFO_CHANNEL_ID=-1003992583202

# Optional: bot log channel/group
LOG_CHAT_ID=-1003807389294

# Optional: set manually or leave blank and bot auto-detects it
BOT_USERNAME=senulkbot

# Metadata / poster APIs
TMDB_API_KEY=af43e0289f758ede6ae31d20cc541776
TMDB_BEARER_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJhZjQzZTAyODlmNzU4ZWRlNmFlMzFkMjBjYzU0MTc3NiIsIm5iZiI6MTc3NjI4MzM0OS43ODEsInN1YiI6IjY5ZGZlZWQ1ODYzNDQwMzE2YWI3ZmFiNCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.NCDnXDp-soQThlWIbYKzZGnT-qlXEhIYC0thDzXnhhk
OMDB_API_KEY=c34ad57

# Search settings
MAX_SEARCH_RESULTS=8
RESULT_PAGE_SIZE=10

MOVIE_TAB_BUTTON_TEXT=🎬 Movies ({movie_count})
SERIES_TAB_BUTTON_TEXT=📺 TV Series ({series_count})
NO_RESULTS_BUTTON_TEXT=❌ No results
MOVIE_TITLE_BUTTON_TEXT=🎞 {title}{year_label}
SERIES_TITLE_BUTTON_TEXT=📺 {title}{year_label}
QUALITY_BUTTON_TEXT=📦 {quality}
CODEC_SIZE_BUTTON_TEXT=⚙️ {codec} • {size}
SEASON_BUTTON_TEXT=🗂 Season {season}
EPISODE_BUTTON_TEXT=🎬 E{episode_label}
PREV_BUTTON_TEXT=⬅️ Prev
NEXT_BUTTON_TEXT=Next ➡️
DOWNLOAD_BUTTON_TEXT=⬇️ Download to Inbox
OPEN_INBOX_BUTTON_TEXT=📩 Open Bot Inbox

# ADMIN BUTTON TEXT CONFIG
ADMIN_MANAGE_MOVIES_BUTTON_TEXT=🎬 Manage Movies
ADMIN_MANAGE_SERIES_BUTTON_TEXT=📺 Manage Series
ADMIN_SYNC_SERIES_BUTTON_TEXT=📥 Sync Series Post
ADMIN_SYNC_MOVIE_BUTTON_TEXT=📥 Sync Movie Post
ADMIN_POSTER_TOOLS_BUTTON_TEXT=🖼 Poster Tools
ADMIN_EDIT_NAME_BUTTON_TEXT=🎞 Edit Name
ADMIN_MANAGE_VARIANTS_BUTTON_TEXT=🎚 Manage Quality / Codec
ADMIN_DELETE_TITLE_BUTTON_TEXT=🗑 Delete This Title
ADMIN_BACK_HOME_BUTTON_TEXT=⬅️ Admin Home
ADMIN_AUTO_REFRESH_POSTER_BUTTON_TEXT=♻️ Auto Refresh Poster
ADMIN_REMOVE_POSTER_BUTTON_TEXT=🧹 Remove Poster
ADMIN_MANUAL_POSTER_URL_BUTTON_TEXT=🔗 Set Manual Poster URL
ADMIN_BACK_BUTTON_TEXT=⬅️ Back
ADMIN_CONFIRM_DELETE_BUTTON_TEXT=✅ Yes, Delete
ADMIN_CANCEL_BUTTON_TEXT=❌ Cancel
ADMIN_CHANGE_QUALITY_BUTTON_TEXT=📦 Change Quality
ADMIN_CHANGE_CODEC_BUTTON_TEXT=⚙️ Change Codec
ADMIN_DELETE_FILE_BUTTON_TEXT=🗑 Delete This File

# SEARCH HUB CAPTION CONFIG
SEARCH_HUB_CAPTION_TEMPLATE=🔎 <b>{query}</b>\n\n🎬 Movies: <b>{movie_count}</b>    📺 TV Series: <b>{series_count}</b>\n🔒 මේ buttons වැඩ කරන්නේ search කරපු user ට විතරයි.\n{hint_line}

```
